!!! 5
html(lang="en")
  head
    title Node3p Web Downloader
    link(href="/css/core.css",rel="stylesheet",type="text/css")
    link(href="/css/jplayer.blue.monday.css",rel="stylesheet",type="text/css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    script(src="/js/ContentFlow/contentflow.js",load="white")
    script(src="/js/jquery.jplayer.min.js")
    script(src="/js/home.js")
    script
      | var file = "#{song}";
  body
    #container
      #header.contentbox
        h1 Node3p Web
      #content
        p Find an AmazonMP3 file (something with a .amz extension). Click 'Upload' and wait.
        - if (error_message)
          p.err There was a problem: #{error_message}
        form(action="/",method="POST",enctype="multipart/form-data")
          fieldset.file
            input(,type="file",id="file",name="file")
          fieldset
            input(type="submit",value="Upload")

        #jquery_jplayer
        .jp-single-player
          .jp-interface
            ul.jp-controls
              li
                a#jplayer_play.jp-play(href="#",tabindex="1") play
              li
                a#jplayer_pause.jp-pause(href="#",tabindex="1") pause 
              li
                a#jplayer_stop.jp-stop(href="#",tabindex="1") stop 
              li
                a#jplayer_volume_min.jp-volume-min(href="#",tabindex="1") min volume 
              li
                a#jplayer_volume_max.jp-volume-max(href="#",tabindex="1") max volume 
            .jp-progress
              #jplayer_load_bar.jp-load-bar
                #jplayer_play_bar.jp-play-bar 
            #jplayer_volume_bar.jp-volume-bar
              #jplayer_volume_bar_value.jp-volume-bar-value 
            #jplayer_play_time.jp-play-time 
            #jplayer_total_time.jp-total-time

        #contentFlow.ContentFlow
          .loadIndicator
            .indicator
          .flow
            - each album in albums
              .item
                img.content(src=album.key.image,title=album.key.album+' by ' +album.key.primary)
                .caption #{album.key.album} by #{album.key.primary}
          .globalCaption
          .scrollbar
            .slider
              .position

      #footer.contentbox
        p
          | Node3p and Node3p-web were developed by Nick Campbell (
          a(href="http://twitter.com/ncb000gt") @ncb000gt
          | ).
        p
          a(href="http://github.com/ncb000gt/node3p-web") Node3p-web is open sourced 
          | under the MIT license. Enjoy.